<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Loyality programs">
    <meta name="author" content="Supme">

    <title>{{ _config.site.name }} :: {{ _page.title }}</title>

    <!-- css additional -->
    {% for css in _css %}
        <link href="{{ css }}" rel="stylesheet"/>
    {% endfor %}

    <!-- js additional -->
    {% for js in _js %}
        <script src="{{ js }}"></script>
    {% endfor %}

</head>
<body>

{% include _view %}

</body>
</html>
