<div id="page-wrapper">
    <div class="container-fluid">

<form method="POST" class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend><img src="/img/cake/or.png" height="25px" alt="КнутоПряник"/></legend>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Имя:</label>
            <div class="col-md-4">
                <select id="name" name="name" class="form-control">
                    <option></option>
                    {% for people in peoples %}
                    <option value="{{ people.id }}" {% if request.name == people.id %}selected {% endif %}>{{ people.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Multiple Radios (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="method"></label>
            <div class="col-md-4">
                <label class="radio-inline" for="method-0">
                    <input type="radio" name="method" id="method-0" value="1" {% if request.method == 1 or request.method != 2 %}checked="checked"{% endif %}>
                    <img src="/img/cake/orel.png" height="150px"/>
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline" for="method-1">
                    <input type="radio" name="method" id="method-1" value="2" {% if request.method == 2 %}checked="checked"{% endif %}>
                    <img src="/img/cake/reshka.png" height="150px"/>
                </label>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="comment">За что:</label>
            <div class="col-md-4">
                <textarea class="form-control{% if comment_error %} alert-danger{% endif %}" id="comment" name="comment" ></textarea>
                <!--span id="comment" class="help-block"></span-->
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="send"></label>
            <div class="col-md-4">
                <button id="send" name="send" class="btn btn-info">Вручить</button>
            </div>
        </div>

    </fieldset>
</form>

        {% if _notification is defined  %}
            {% for type,noti in _notification %}
                {% for n in noti %}
                    <div class="alert alert-{{ type }} fade in">
                        {{ n|e}} <a class="close" data-dismiss="alert" href="#">&times;</a>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

    </div>
</div>

<script>
    setTimeout('$(".alert").alert("close")', 5000);
    $(document).ready(function() {
        $("#name").select2({
            placeholder: "-- Выберите героя --",
            allowClear: true,
            language: "es"
        });
    });
</script>