<div id="page-wrapper">
    <div class="container-fluid">

<form id="cake" method="POST" class="form-horizontal" onsubmit="document.getElementById('send').disabled=true; document.getElementById('cake').submit();">
    <fieldset>
        <!-- Form Name -->
        <legend><img src="/img/cake/or.png" height="25px" alt="КнутоПряник"/></legend>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="name">Имя:</label>
            <div class="col-md-4">
                <select id="name" name="name" class="form-control">
                    <option></option>
                    {% for people in peoples %}
                    <option value="{{ people.id }}" {% if request.name == people.id %}selected {% endif %}>{{ people.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <!-- Multiple Radios (inline) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="method"></label>
            <div class="col-md-4">
                <label class="radio-inline" for="method-0">
                    <input type="radio" name="method" id="method-0" value="1" {% if request.method == 1 or request.method != 2 %}checked="checked"{% endif %}>
                    <img src="/img/cake/orel.png" height="150px"/>
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <label class="radio-inline" for="method-1">
                    <input type="radio" name="method" id="method-1" value="2" {% if request.method == 2 %}checked="checked"{% endif %}>
                    <img src="/img/cake/reshka.png" height="150px"/>
                </label>
            </div>
        </div>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="comment">За что:</label>
            <div class="col-md-4">
                <textarea class="form-control{% if comment_error %} alert-danger{% endif %}" id="comment" name="comment" ></textarea>
                <!--span id="comment" class="help-block"></span-->
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="send"></label>
            <div class="col-md-4">
                <button id="send" name="send" class="btn btn-info">Вручить</button>
            </div>
        </div>

    </fieldset>
</form>

        {% if _notification is defined  %}
            {% for type,noti in _notification %}
                {% for n in noti %}
                    <div class="alert alert-{{ type }} fade in">
                        {{ n|e}} <a class="close" data-dismiss="alert" href="#">&times;</a>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

    </div>
</div>

<script>
//    formUploader = {
//        prepareForm: function(form){
//            // Каждая значимая кнопка формы при клике должна создать одноименное hidden поле,
//            // чтобы на сервер передалась информация о том, какая кнопка была кликнута
//            var allFormFields = form.getElementsByTagName('input');
//            for (var i=0; i<allFormFields.length; i++){
//                if(allFormFields[i].type == 'submit' && allFormFields[i].name){
//                    allFormFields[i].onclick = function(){
//                        formUploader.createHiddenField(this);
//                    }
//                }
//            }
//            // Визуализируем форму как отправляемую на сервер на событии onsubmit
//            // (в т.ч. делаем все кнопки неактивными)
//            form.onsubmit = function(){
//                formUploader.setFormLoading(form);
//            };
//            // Очищаем визуализацию формы (в т.ч. делаем все кнопки вновь активными)
//            // при уходе со страницы - по глобальному событию onunload
//            window.onunload = function(){
//                formUploader.clearFormLoading(form)
//            }
//        },
//        setFormLoading: function(form){
//            // Создаем визуализацию загрузки формы и делаем все кнопки неактивными
//            // disabled=true;
//        },
//        clearFormLoading: function(form){
//            // Очищаем форму от визуализации загрузки и возвращаем кнопки в активное состояние
//            // disabled=false;
//        },
//        createHiddenField: function(button){
//            var input = document.createElement('input');
//            input.type = 'hidden';
//            input.name = button.name;
//            input.value = button.value;
//            button.parentNode.insertBefore(input, button);
//        }
//    };
//
//    formUploader.prepareForm(document.getElementById('cake'));

    setTimeout('$(".alert").alert("close")', 10000);

    $(document).ready(function() {
        $("#name").select2({
            placeholder: "-- Выберите героя --",
            allowClear: true,
            language: "ru"
        });
    });

</script>